// main: ../main.scss

.btn {
  background-color: $goodBlueColor;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 20px;
  border-radius: 25px;
  width: 100%;
  display: block;
  text-align: center;
  white-space: nowrap;
  
  padding: 10px 0;

  &:hover {
    background-color: $greyieBlueColor;
    outline: 0;
  }

  &:focus {
    box-shadow: 0 0 0 10px $amberColor;
    outline: 0;
  }
}
