// main: ../main.scss

$text_padding: 20px;

h1 {
	margin-block-start: 0;
	margin-block-end: 0;
	padding: $text_padding/2 0;
}

.text {
	padding: $text_padding 5%;
	overflow: hidden;
}

a {
	text-decoration: none;
}
